$color-brand-primary: #ac29b5; // Brand Primary purple
$color-brand-secondary: #ff6200; // Secondary orange
$color-brand-charity: #61a534; //charity brand color

$color-white: #ffffff;
$color-black: #000000;

// Greys
$color-very-light-grey: #f9f9f9; //Background very light grey
$color-light-grey: #cccccc; // Tertiary
$color-white-smoke: #f5f5f5; // Background off white
$color-nero: #262626; //  normal Text color
$color-empress: #737373; // Links
