@import "_colors.scss";

/* very simple flexbox grid */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.flex-grid .col {
  flex: 1;
  background: $color-white;
}

%flex-grid-two {
  background: $color-white;
  padding: 1em;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  overflow: auto;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

.flex-grid-two-unequal {
  display: flex;
  justify-content: space-between;
  @extend %flex-grid-two;
}
.col-one {
  width: 55%;
  border: 1px solid blue;
}

.col-two {
  width: 40%;
  border: 1px solid pink;
}

/* smaller screens*/ /* TO TEST THIS SONAL */
/* ------------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 400px) {
  .flex-grid,
  .flex-grid-two-thirds {
    display: block;
    .col-one,
    .col-two {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
  h1 {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

.flex-grid {
  margin: 0 0 1em 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
