@import "_mixins.scss";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: $color-nero;
  background: $color-very-light-grey;
}

$font-size-xs: 11px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;

@media screen and (min-width: 480px) {
  html {
    font-size: 1rem;
    @include font-size($font-size-s);
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 11rem;
    @include font-size($font-size-m);
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 12rem;
    @include font-size($font-size-m);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 12rem;
    @include font-size($font-size-xl);
  }
}
