@import "_reset.scss";
@import "_colors.scss";
@import "_elements.scss";
@import "_grid.scss";
@import "_typography.scss";
@import "_mixins.scss";

/* I would usually make this my import file,
  but as this is one page I have skipped this step. 
  i would also set my breakpoints and grid BETTER for a larger project. Here i have opted to use flexbox for speed and simplicity.
*/

header {
  padding: 0.3rem 0.3rem 0.3rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  .jg-logo-container {
    width: 65px;
    height: 65px;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    line-height: 45px;
    border: 1px solid red;
    .jg-logo {
      width: 100%;
      height: auto;
    }
  }
}

/* ---------- TO REMOVE WHAT IS NOT REQ'D----------------*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
