html {
  cursor: default;
  -ms-overflow-style: scrollbar; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

li > ol,
li > ul {
  margin-bottom: 0; }

.brand-primary {
  color: #ac29b5; }

.brand-secondary {
  color: #ff6200; }

.brand-charity {
  color: #61a534; }

.color-light-grey {
  color: #cccccc; }

.color-dark-grey {
  color: #737373; }

.brand-primary {
  color: #ac29b5; }

.brand-secondary {
  color: #ff6200; }

.brand-charity {
  color: #61a534; }

.color-light-grey {
  color: #cccccc; }

.color-dark-grey {
  color: #737373; }

/* 
@import "_typography.scss";
@import "_mixins.scss";
*/
.off-screen {
  height: 1px;
  left: -50000px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px; }

.skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden; }

a.skip-link:active,
a.skip-link:focus,
a.skip-link:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible; }

/* to do - style up elements here links, headings, lists etc */
footer {
  padding: 1rem;
  background: #ffffff;
  border-top: 1px solid #cccccc;
  text-align: right; }

.brand-primary {
  color: #ac29b5; }

.brand-secondary {
  color: #ff6200; }

.brand-charity {
  color: #61a534; }

.color-light-grey {
  color: #cccccc; }

.color-dark-grey {
  color: #737373; }

/* very simple flexbox grid */
.flex-grid {
  display: flex;
  flex-wrap: wrap; }

.flex-grid .col {
  flex: 1;
  background: #ffffff; }

.flex-grid-two-unequal {
  background: #ffffff;
  padding: 1em;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  overflow: auto;
  word-wrap: break-word;
  margin-bottom: 2rem; }

.flex-grid-two-unequal {
  display: flex;
  justify-content: space-between; }

.col-one {
  width: 55%;
  border: 1px solid blue; }

.col-two {
  width: 40%;
  border: 1px solid pink; }

/* smaller screens*/
/* TO TEST THIS SONAL */
/* ------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 400px) {
  .flex-grid,
  .flex-grid-two-thirds {
    display: block; }
    .flex-grid .col-one,
    .flex-grid .col-two,
    .flex-grid-two-thirds .col-one,
    .flex-grid-two-thirds .col-two {
      width: 100%;
      margin: 0 0 2rem 0; }
  h1 {
    display: block; } }

* {
  box-sizing: border-box; }

.flex-grid {
  margin: 0 0 1em 0; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* I would usually make this my import file,
  but as this is one page I have skipped this step. 
  i would also set my breakpoints and grid BETTER for a larger project. Here i have opted to use flexbox for speed and simplicity.
*/
header {
  padding: 0.3rem 0.3rem 0.3rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); }
  header .jg-logo-container {
    width: 65px;
    height: 65px;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    line-height: 45px;
    border: 1px solid red; }
    header .jg-logo-container .jg-logo {
      width: 100%;
      height: auto; }

/* ---------- TO REMOVE WHAT IS NOT REQ'D----------------*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
