@import "_reset.scss";
@import "_colors.scss";

/* I would usually make this my import file,
  but as this is one page I have skipped this step. 
  i would also set my breakpoints and grid BETTER for a larger project. Here i have opted to use flexbox for speed and simplicity.
*/

.testing-sass {
  color: $color-brand-primary;
}

/* ---------- TO REMOVE WHAT IS NOT REQ'D----------------*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
